code,kbd,pre,samp{font-family: "Courier New",monospace;}
sup{vertical-align: text-top;}
sub{vertical-align: text-bottom;}
fieldset,img{border: 0;}
small{font-size: 12px;}
ul,ol{list-style: none;}
table{border-collapse: collapse;border-spacing: 0;}
a{text-decoration: none; color: inherit;}
body, div, iframe, ul, ol, dl, dt, dd, h1, h2, h3, h4, h5,
h6, p, pre, table, th, td, form, input, button, select, textarea {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei",
    "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
